* {
    margin: 0;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

body {
    background-color: #35363a;
    /* font-size: 0.8125em; */
}

.caja_blanca {
    background-color: white;
    color: black;
    padding: 20px;
}

main {
    margin: 100px;
    background-color: #5a5a5a;
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;  
}