* {
    margin: 0;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    background-color: #35363a;
    /* font-size: 0.8125em; */
}


main {
    margin: 100px;
    flex:1;

    background-color: #5a5a5a;
    display: flex;

    flex-flow: column nowrap;
    /* justify-content: space-evenly; */
}

.searchers {
    display: flex;
    flex: 1;

    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.searcher {
    padding: 10px;
    background: rebeccapurple;
}

.shortcuts {
    display: flex;
    flex: 1;
    
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.shortcut {
    background: violet;
    padding: 10px;
}