* {
    margin: 0;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    text-align: center;
}

body {
    background-color: #35363a;
    /* font-size: 0.8125em; */

    /* Flex container */
    display: flex;
    justify-content: center;
}


main {
    margin: 100px;
    background-color: #5a5a5a;
    background-color: transparent;
    
    /* Properties of flex conatiner child */
    flex: 1;

    /* Flex container */
    display: flex;
    flex-flow: column nowrap;
    /* justify-content: space-evenly; */
}

.searchers {
    /* Properties of flex conatiner child */
    flex: 1;
    
    /* Flex container */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.searcher {
    background: rebeccapurple;
}

.searcher > input {
    /* Remove default styles  */
    border: none;
    width: auto;
} 

.searcher > input:focus {
    /* Remove default styles */
    outline: none;
}


.shortcuts {
    /* Properties of flex conatiner child */
    flex: 1;
    
    /* Flex container */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.shortcut {
    background: violet;
}


/* Resolución objetivo 1366*768 16:9 */